@model mvc_api.ViewModel.Account.ClienteViewModel;

@{
    ViewBag.Title = "Minha Conta";
}

<h2>Minha Conta</h2>

<div class="form-group">
    @Html.LabelFor(m => m.Telefone, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })<br/>
    
    @Html.LabelFor(m => m.FullName,"Nome Completo", new { @class = "control-label" })
    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })<br/>
    
    @Html.LabelFor(m => m.Enderecos,"Endereços", new { @class = "control-label" })<br/><br/>
    @if (Model.Enderecos.Count == 0)
    {
        <span> Você ainda não possui endereços cadastrados! </span><br/><br/>
    }
    else
    {
        foreach(var endereco in Model.Enderecos)
        {
            <p>Cep: @endereco.Cep Rua: @endereco.Rua Número: @endereco.Numero Complemento: @endereco.Complemento</p>
            
            <form asp-controller="Account" asp-action="Endereco" method="get">
                <input type="hidden" name="enderecoId" value="@endereco.Id" />
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>
        }
    }
    <form asp-controller="Account" asp-action="Endereco" method="get">
        <button type="submit" class="btn btn-primary">Novo Endereço</button>
    </form>
</div>
